sudo: required
language: php
php:
  - '7.1'
services:
  - docker
jobs:
  include:
    - stage: test
      install: docker build -t outstack/enveloper:$TRAVIS_COMMIT
      script: docker run outstack/enveloper:$TRAVIS_COMMIT /app/test.sh
