imports:
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    env(SMTP_ENCRYPTION): ~
    locale: en
    template_directory: "/app/data/templates"

    secret: ThisTokenIsNotSoSecretChangeIt

    default_sender_email: "%env(ENVELOPER_DEFAULT_SENDER_EMAIL)%"
    default_sender_name: "%env(ENVELOPER_DEFAULT_SENDER_NAME)%"
    mailer_host:       '%env(ENVELOPER_SMTP_HOST)%'
    mailer_username:   '%env(ENVELOPER_SMTP_USER)%'
    mailer_port:       '%env(ENVELOPER_SMTP_PORT)%'
    mailer_password:   '%env(ENVELOPER_SMTP_PASSWORD)%'
    mailer_encryption: '%env(SMTP_ENCRYPTION)%'
    mailer_record_messages: false
    mailer_deliver_messages: true
    env(ENVELOPER_DB_DSN): "sqlite:////app/data/enveloper.sqlite"
    pipeprint_url: '%env(ENVELOPER_PIPEPRINT_URL)%'
    env(ENVELOPER_PIPEPRINT_URL): ~


monolog:
    handlers:
        main:
            type: stream
            path:  "php://stdout"
            level: debug
            channels: ['!event']
        console:
            type: console
            channels: ['!event', '!doctrine']

framework:
    #esi: ~
    #translator: { fallbacks: ['%locale%'] }
    secret: '%secret%'
    router:
        resource: '%kernel.root_dir%/config/routing.yml'
        strict_requirements: ~
    form: ~
    csrf_protection: ~
    validation: { enable_annotations: true }
    #serializer: { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale: '%locale%'
    trusted_hosts: ~
    session:
        # http://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id:  session.handler.native_file
        save_path:   "%kernel.root_dir%/../var/sessions/%kernel.environment%"
    fragments: ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true

sensio_framework_extra:
    router:
        annotations: false

doctrine:
    dbal:
        url: "%env(ENVELOPER_DB_DSN)%"

    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        mappings:
            Outstack\Enveloper:
                type: yml
                dir: '%kernel.root_dir%/config/doctrine/orm'
                alias: ~
                prefix: Outstack\Enveloper

# Twig Configuration
twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    exception_controller: AppBundle:Error:showException
